.ul {
  display: block;
  padding: 0;
  background: #8080801f;
}

.form {
  padding: 15px 0;
}

.input {
  width: 85%;
  margin: 0 auto;
  display: block;
}

.item {
  list-style: none;
  transition: all .2s ease-in-out;
}

.item:hover {
  background: #7d7d7d4f;
}

.hiddenItem {
  display: none;
}

.link {
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px;
}