.header {
  background: #484848;
  height: 50px;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  display: flex;
  align-items: center;
  width: max-content;
}

.logo {
  height: 45px;
}

.user {
  display: flex;
  width: max-content;
  align-items: center;
}

.userName {
  margin-right: 40px;
}